# Fichiers bin et obj dans tous les projets
**/bin/
**/obj/

# Visual Studio / IDE
.vs/
*.user
*.suo
.vscode/
.idea/

# Packages NuGet
**/packages/
*.nupkg
*.snupkg
.nuget/

# Publish / déploiement
publish/
*.zip

# EF Migrations (optionnel)
**/Migrations/

# Secrets / fichiers de config locaux
**/appsettings.Development.json
**/*.LocalSecrets.json
